:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

/* :root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    background-color: #fff;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
    text-align: center;
    padding: 10px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 30px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    background-color: var(--accent1-color);
    color: #fff;
    opacity: 0.8;
    margin: 10px;
    bottom: 10px;
}

.hero article img {
    float: right;
    width: 180px;
    margin: 10px;
}