main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.4);
    padding: 1px;
    box-shadow: 1px 1px 5px #eee;
}

p {
    padding: 0;
}

h1 {
    color: #333;
}

nav {
    background-color: #000;
    padding: 10px;
}

nav a {
    color: #fff;
    padding: 1px;
    display: block;
}

footer {
    margin-top: 70px;
    border-top: 1px solid rgb(0 0 0 / 0.2);
    text-align: center;
}